.header {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.header.active {
    display: flex;
}

.header__logo {
    font-family: "Poppins", sans-serif;    
    font-weight: 700;
    font-size: 21px;
    color: var(--white-gray);
    width: 120px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.header__imageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--white-gray);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    margin: 0px 20px 0px 0px;
}

.header__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}